In [10]:
import numpy as np
import pandas as pd

pd.set_option('precision', 2)

In [2]:
dat = pd.read_csv('sp500.csv', parse_dates=['date']).sort_values('date').reset_index(drop=True)

In [3]:
dat['ticker'] = 'SP500'

In [4]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16676 entries, 0 to 16675
Data columns (total 8 columns):
date         16676 non-null datetime64[ns]
open         16676 non-null float64
high         16676 non-null float64
low          16676 non-null float64
close        16676 non-null float64
volume       16676 non-null int64
adj_close    16676 non-null float64
ticker       16676 non-null object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 1.0+ MB

In [12]:
(dat.query("'2015-01-01' <= date <= '2015-12-31'")
     .loc[:, ['ticker', 'date', 'adj_close']]
     .sort_values(['ticker', 'date'])
     .to_parquet('sp5.parq', compression='gzip'))

In [16]:
dat_sub = pd.read_parquet('sp5.parq').set_index(['date', 'ticker'])

In [17]:
dat_sub.head()

                   adj_close
date       ticker
2015-01-02 SP500     2058.20
2015-01-05 SP500     2020.58
2015-01-06 SP500     2002.61
2015-01-07 SP500     2025.90
2015-01-08 SP500     2062.14

In [19]:
dat_sub.index.is_monotonic

True

In [21]:
dat_sub.index.levels[0]

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22',
               '2015-12-23', '2015-12-24', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', name='date', length=252, freq=None)